@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:400,400i,600,700|Roboto:400,400i,500,700');

body {
  background-color: #eee;
  font-family: 'lato', sans-serif;
  line-height: 1.4em;
}

.wrapper {
  background-color: #fff;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;

  .services {
    overflow: hidden;
    .service {
      float: left;
      background-color: #eee;
      width: 29.33%;
      margin: 1%;
      padding: 1%;
      height: 140px;
      position: relative;

      &:nth-child(1) {
        top: 10px;
      }

      &:nth-child(2) {
        top: 20px;
      }

      &:nth-child(3) {
        top: 30px;
      }

      h2, p {
        color: #999;
        margin: 10px 0;
        text-align: center;
      }
    }
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .content {
    padding: 10px;
    //background-color: #ccc;
    margin: 20px 1%;

    p {
      -webkit-column-count: 3;
      column-count: 3;

      -webkit-column-gap: 50px;
      column-gap: 50px;

      -webkit-column-rule: 1px solid #ccc;
      column-rule: 1px solid #ccc;

      text-align: justify;
    }
  }

  .columns {
    section, aside {
      float: left;
      width: 46%;
      margin: 1%;
      padding: 1%;
      background-color: #f2f2f2;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
