@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:400,400i,600,700|Roboto:400,400i,500,700');

p {
  padding: 20px;
  background-color: #eee;
  font-family: 'Lato', 'Roboto', 'Open Sans', sans-serif;
  line-height: 1.4em;
}