@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:400,400i,600,700|Roboto:400,400i,500,700');

body {
  background-color: #eee;
}

.wrapper {
  background-color: #fff;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;

  .service {
    float: left;
    background-color: #eee;
    width: 29.33%;
    margin: 1%;
    padding: 1%;
    height: 140px;

    h2, p {
      color: #999;
      margin: 10px 0;
      text-align: center;
    }
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
